*{
    padding:0;
    margin:0;
    box-sizing:border-box ;
}

.footer h3{
    padding-left:25px;
    color:purple;
    padding-top: 10px;
}
.footer{
    display:grid;
    gap:0px;
    width:100%;
   
    background-color:gainsboro;
}
.footer a{
    text-decoration:none;
    background-color: gainsboro;
    border:2px solid gainsboro;
    padding:15px;
    text-transform: capitalize;
    font-weight: bold;
    color:black;
}
.footer a:hover{
    background:gray;
}
.footer .p1{
    display:flex;
    justify-content: center;
    gap:3%;
   
}
.footer .p2{
    display:flex;
    justify-content: center;
    gap:2%;
   
}
.footer .p3{
    display:flex;
    justify-content: center;
    gap:3%;
   
}


